/* ============== CSS Reset ============ */
* {
  margin: 0;
  padding: 0;
}

/* ======== CSS Variables ======== */
:root {
  --primary: #0aa36e;
}

/* =========== Login Screen =========== */
.screen {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
  width: 320px;
  padding: 5px;
}

.logo img {
  width: 150px;
  margin-bottom: 20px;
}

.inputContiner {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputContiner input {
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 16px;
  margin-top: 8px;
}

.inputContiner input:focus {
  border-bottom: 2px solid var(--primary);
  box-shadow: 0px 0px 10px rgba(10, 63, 110, 0.5) inset;
}

.btn {
  background-color: var(--primary);
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}

.disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* ============= Navbar ============= */
.navContainer {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logout {
  background-color: #ef4444;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================== Table Head ================= */
.tableContainer {
  width: 80vw;
  margin: 40px auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  overflow-x: scroll;
}
.tableHead {
  display: flex;
  /* justify-content: space-between; */
}

.td {
  padding: 5px;
  width: 125px;
  height: 60px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.th {
  font-weight: bold;
}

/* ========== Single Item =========== */
.singleCon {
  background-color: #58c3ffed;
}

/* ============= Loading ============= */
.loading {
  text-align: center;
  margin-top: 50px;
  color: var(--primary);
  font-size: 30px;
  font-weight: bold;
}

/* =============== Reload ============ */
.reload {
  color: var(--primary);
  cursor: pointer;
}
